<div class="dash-unit">
  <dtitle>Last 30 Days Stats</dtitle>
  <hr>
  <br>
  <br>
    <div class="flexslider">
<ul class="slides">
  <li><img src="/img/slide01.png" alt="slider"></li>
  <li><img src="/img/slide02.png" alt="slider"></li>
</ul>
  </div>
<div class="cont">
<p>StatCounter Information</p>
</div>
</div>
