<div class="dash-unit">
  <dtitle>Last Month Revenue</dtitle>
  <hr>
  <div class="cont">
<p><bold>$879</bold> | <ok>Approved</ok></p>
<br>
<p><bold>$377</bold> | Pending</p>
<br>
<p><bold>$156</bold> | <bad>Denied</bad></p>
<br>
<p><img src="/img/up-small.png" alt=""> 12% Compared Last Month</p>

</div>

</div>
