<div class="half-unit">
  <dtitle>Local Time</dtitle>
  <hr>
    <div class="clockcenter">
      <digiclock>12:45:25</digiclock>
    </div>
</div>

<!-- SERVER UPTIME -->
<div class="half-unit">
  <dtitle>Server Uptime</dtitle>
  <hr>
  <div class="cont">
    <p><img src="/img/up.png" alt=""> <bold>Up</bold> | {{uptime}}ms.</p>
</div>
</div>
