<div class="dash-unit">
<dtitle>Other Information</dtitle>
<hr>
<div class="section-graph">
  <div id="importantchart"></div>
  <br>
  <div class="graph-info">
    <i class="graph-arrow"></i>
    <span class="graph-info-big">634.39</span>
    <span class="graph-info-small">+2.18 (3.71%)</span>
  </div>
</div>
</div>
