<div class="dash-unit">
  <dtitle>Block Dashboard</dtitle>
  <hr>
  <div class="info-user">
    <span aria-hidden="true" class="li_display fs2"></span>
  </div>
  <br>
  <div class="text">
    <p>Block Dashboard created by Basicoh.</p>
    <p>Special Thanks to Highcharts, Linecons and Bootstrap for their amazing tools.</p>
  </div>
</div>
