<!-- USER PROFILE BLOCK -->
<div class="dash-unit">
  <dtitle>Comunicacion Serial</dtitle>
  <hr>
  <div class="text-center">
    <a href="/serial" class="btn btn-success">Provar Comunicación Serial</a>
  </div>
</div>
