<div class="dash-unit">
  <dtitle>Site Bandwidth</dtitle>
  <hr>
  <canvas id="load"></canvas>
  <h2>45%</h2>
</div>

<script>
$(document).ready(function() {
  var bwChart = document.getElementById('load').getContext('2d');
  var bw = new Chart(bwChart,{
    type:'doughnut',
    data:{
      labels:['Load Porcentaje','rest'],
      datasets: [{
        backgroundColor: [
          "#b2c831",
          "#000"
        ],
        data: [50,50]
      }]
    },
    options:{
      responsive:true,
      legend:false,
      cutoutPercentage:80,
    }
  });
});
</script>
