<div id="app"></div>
  <!-- <div class="row">
    <div class="col-sm-3 col-lg-3">

      <div class="dash-unit">
      <dtitle>Inbox (1)</dtitle>
      <hr>
      <div class="framemail">
      <div class="window">
          <ul class="mail">
              <li>
                  <i class="unread"></i>
                  <img class="avatar" src="/img/photo01.jpeg" alt="avatar">
                  <p class="sender">Adam W.</p>
                  <p class="message"><strong>Working</strong> - This is the last...</p>
                  <div class="actions">
                      {{!-- <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                      <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a> --}}
                  </div>
              </li>
              <li>
                  <i class="read"></i>
                  <img class="avatar" src="/img/photo02.jpg" alt="avatar">
                  <p class="sender">Dan E.</p>
                  <p class="message"><strong>Hey man!</strong> - You have to taste ...</p>
                  <div class="actions">
                      {{!-- <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                      <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a> --}}
                  </div>
              </li>
              <li>
                  <i class="read"></i>
                  <img class="avatar" src="/img/photo03.jpg" alt="avatar">
                  <p class="sender">Leonard N.</p>
                  <p class="message"><strong>New Mac :D</strong> - So happy with ...</p>
                  <div class="actions">
                      {{!-- <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                      <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a> --}}
                  </div>
              </li>
              <li>
                  <i class="read"></i>
                  <img class="avatar" src="/img/photo04.jpg" alt="avatar">
                  <p class="sender">Peter B.</p>
                  <p class="message"><strong>Thank you</strong> - Finally I can ...</p>
                  <div class="actions">
                      {{!-- <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png" alt="reply"></a>
                      <a><img src="http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png" alt="favourite"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png" alt="label"></a>
                      <a><img src="http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png" alt="delete"></a> --}}
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>
</div> -->

<!--

<div class="row">

<div class="col-sm-3 col-lg-3">
  <div class="dash-unit">
        <dtitle>Twitter Widget</dtitle>
        <hr>
    <div class="info-user">
      <span aria-hidden="true" class="li_megaphone fs2"></span>
    </div>
    <br>
    <div id="jstwitter" class="clearfix">
      <ul id="twitter_update_list"></ul>
    </div>
    <script src="http://twitter.com/javascripts/blogger.js"></script>

    <script src="http://api.twitter.com/1/statuses/user_timeline/wrapbootstrap.json?callback=twitterCallback2&amp;count=1"></script> --}}
  To show your tweets replace "wrapbootstrap", in the line above, with your user. -->
    <!-- <div class="text">
    <p><grey>Show your tweets here!</grey></p>
    </div>
  </div>
</div>

</div>-->

<!-- FOURTH ROW OF BLOCKS -->
<!-- <div class="row">

  <div class="col-sm-3 col-lg-3">
    <div class="dash-unit">
        <dtitle>Accordion</dtitle>
        <hr>
      <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
            </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Collapsible Group Item #2
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
            </div>
                    </div>
                </div>

                 <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Collapsible Group Item #3
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
                        </div>
                    </div>
                </div>
            </div>
    <!-- </div>
  </div> -->
<!-- </div><

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Registrar Incidencia</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input id="title" class="form-control" type="text" placeholder="Titulo de la Incidencia"/>
            </div>
            <div class="form-group">
              <input name="editor1" id="description" class="form-control" type="text" placeholder="Describe la Incidencia"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- FAST CONTACT BLOCK -->
</div> <!-- /container -->

<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });

});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });
});

window.addEventListener('load',function() {
  var socket = io.connect('/');
  socket.on('hi', function () {
    alertify.confirm(
      'Nueva Incidencia', 'Desea ir al Mapa?',
      function(){ window.location.href = 'http://localhost:3000/user/map' },
      function(){ alertify.error('Incidencia Almacenada')}
    );
  });

  var $form = document.getElementById('myModal');
  var $title = document.getElementById('title');
  var $description = document.getElementById('description');

  $form.addEventListener('submit', function (e) {
    e.preventDefault();
    console.log($title.value, $description.value);
    $.ajax({
      type: "POST",
      url: 'http://localhost:3000/alert-citizen',
      data: {
        title: $title.value,
        description: $description.value
      },
      success: function () {
        console.log('success');
      },
      dataType: 'json'
    });
  });
});
</script>
<script src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'editor1' );
</script>
<script type="text/javascript" src="/js/admin.js"></script>
<script src="/js/bundle.js"></script>
