  <h1 class="text-center">Alert Citizen</h1>

  <form action="/alert-citizen" method="post">
    <textarea
      type="text"
      name="title"
      placeholder="Ingresa un titulo de tu Incidente"
      class="form-control"
      style="text-align:center;"
      ></textarea>
    <textarea
      name="description"
      placeholder="Please, Insert a Description..."
      class="form-control"
      style="text-align:center;"
    ></textarea>
    <input type="hidden" name="_csrf" value="{{crsfToken}}">
    <button class="btn btn-primary btn-block" type="submit">Send Alert</button>
  </form>
