<article id="w1-detail" class="detail">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="">Desarrolla Back-End like a Boss Aprendiendo Javascript</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <section id="intro">
          <h3>En este workshop aprenderás...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
            <section id="trainer-list">
              <h3>Los Formadores</h3>
              <div class="trainer row">
                <div class="col-xs-4">
                  <img src="img/formador1.png" alt="Formador1" />
                </div>
                <div class="col-xs-8">
                  <h4>Formador 1</h4>
                  <p>
                    Fundador y Director de Su [Q]Empresa.<br>
                    Co-Fundador y CTO de Empresa .<br>
                    Formador en Empresa.
                  </p>
                  <a href="#" class="trainer-link">CV online</a>
                  <a href="#" class="trainer-link">@twitter</a>
                </div>
              </div>
              <div class="row trainer">
                <div class="col-xs-4">
                  <img src="img/formador2.png" alt="Formador2" />
                </div>
                <div class="col-xs-8">
                  <h4>Formador 2</h4>
                  <p>
                    Fundador y Director de Su [Q]Empresa.<br>
                    Co-Fundador y CTO de Empresa .<br>
                    Formador en Empresa.
                  </p>
                  <a href="#" class="trainer-link">CV online</a>
                  <a href="#" class="trainer-link">@twitter</a>
                </div>
              </div>
            </section>
          </div>
          <div class="col-xs-5">
            <section id="registration">
              <h3>Registro</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <div class="registration-badge">
                <h3 class="price">99 $</h3>
                <p class="included">
                  workshop + <br>
                  desayuno + <br>
                  almuerzo
                </p>
                <div class="clear-fix"></div>
                <a href="#" class="do-register">ME APUNTO!</a>
              </div>
            </section>
            <section id="agenda">
              <h3>Agenda del día</h3>
              <h4><span>W21</span>SÁBADO 15 DE SEPTIEMBRE</h4>
              <dl class="dl-horizontal">
                <dt>10,00h</dt>
                <dd>Workshop parte 1/4</dd>
                <dt>10,00h</dt>
                <dd>Workshop parte 2/4</dd>
                <dt>10,00h</dt>
                <dd>Workshop parte 3/4</dd>
                <dt>10,00h</dt>
                <dd>Workshop parte 4/4</dd>
                <dt>10,00h</dt>
                <dd>Fin del Workshop</dd>
              </dl>
            </section>
          </div>
        </div>
      </div>
    </div>
    <section id="table-of-contents">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Índice de Contenidos</h3>
          </div>
          <div class="col-xs-4">
            <h4>1. Framework Front-end</h4>
            <ul>
              <li>Item Indice Primero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
            </ul>
            <h4>2. Framework Front-end</h4>
            <ul>
              <li>Item Indice Primero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>3. Framework Front-end</h4>
            <ul>
              <li>Item Indice Primero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
            </ul>
            <h4>4. Framework Front-end</h4>
            <ul>
              <li>Item Indice Primero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>5. Framework Front-end</h4>
            <ul>
              <li>Item Indice Primero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
              <li>Item Indice Segundo</li>
              <li>Item Idice Tercero</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="location-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <h3>Necesitas Alojamiento?</h3>
            <div class="hotel">
              <h4>Hotel 4 Estrellas</h4>
              <p>
                Situado en el Centro de la ciudad. con un precio de 100$ la noche.
                <a href="#">Consultar disponibilidad.</a>
              </p>
            </div>
            <div class="hotel">
              <h4>Hotel 3 Estrellas</h4>
              <p>
                Situado en el Centro de la ciudad. con un precio de 100$ la noche.
                <a href="#">Consultar disponibilidad.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="faq">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Preguntas Frecuentes</h3>
          </div>
          <div class="col-xs-4">
            <h4>¿Cual es el objetivo de trafcity?</h4>
            <p>contribuir mediante soluciones tecnologicas informaticas para una optimización.</p>
          </div>
          <div class="col-xs-4">
            <h4>¿Que Ocurre si finalmente no puedo acudir?</h4>
            <p>Cada workshop tiene una fecha limite de anulacion a partir de la
              cual solamente podremos reembolasrte tu dinero.</p>
          </div>
          <div class="col-xs-4">
            <h4>¿Que Ocurre si finalmente no puedo acudir?</h4>
            <p>Cada workshop tiene una fecha limite de anulacion a partir de la
              cual solamente podremos reembolasrte tu dinero.</p>
          </div>
          <div class="col-xs-4">
            <h4>¿Que Ocurre si finalmente no puedo acudir?</h4>
            <p>Cada workshop tiene una fecha limite de anulacion a partir de la
              cual solamente podremos reembolasrte tu dinero.</p>
          </div>
          <div class="col-xs-4">
            <h4>¿Que Ocurre si finalmente no puedo acudir?</h4>
            <p>Cada workshop tiene una fecha limite de anulacion a partir de la
              cual solamente podremos reembolasrte tu dinero.</p>
          </div>
          <div class="col-xs-4">
            <h4>¿Que Ocurre si finalmente no puedo acudir?</h4>
            <p>Cada workshop tiene una fecha limite de anulacion a partir de la
              cual solamente podremos reembolasrte tu dinero.</p>
          </div>
        </div>
      </div>
    </section>
  </article>
