<div class="banner-list">
  <article id="b1" class="banner banner-left">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 main-info">
          <h2>Mantente Informado del Transito,el 100% del Tiempo y el 100% de los Dias</h2>
          <p>Disfruta un fin de semana aprendiendo con <a href="#">Nombre Formador Uno</a>
            y <a href="#">Nombre Formador Dos</a>.<p>
          <a href="/detail" class="btn btn-custom">ME APUNTO!</a>
          <a href="/detail" class="more-info-link">quiero m치s informaci칩n</a>
        </div>
        <div class="col-xs-4 col-xs-offset-2 date-info" >
          <h3 class="highlighted"><strong>W21 </strong>13/14 de abril</h3>
          <h3 class="highlighted">20 plazas</h3>
          <h3 class="highlighted">99$</h3>
        </div>
      </div>
    </div>
  </article>

  <article id="b2" class="banner banner-right">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 date-info" >
          <h3 class="highlighted"><strong>W38 </strong>19/20 de abril</h3>
          <h3 class="highlighted">215 plazas</h3>
          <h3 class="highlighted">120$</h3>
        </div>
        <div class="col-xs-6 col-xs-offset-2 main-info">
          <h2>DESAROLLA APLICACIONES MULTIPLAFORMA CON IONIC Y ELECTRON</h2>
          <p>Sorprendete lo Facil y Divertido que puede ser crear apliaciones para Windows, Mac Os, y Linux
            Impartido por <a href="#">Nombre Formador Uno</a>
            y <a href="#">Nombre Formador Dos</a>.<p>
          <a href="/detail" class="more-info-link">quiero m치s informaci칩n</a>
          <a href="/detail" class="btn btn-custom">ME APUNTO!</a>
        </div>
      </div>
    </div>
  </article>
</div>
{{>site/footer}}
