<link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<header class="header">
		<h1><img src="img/traffcity.png" alt="Traffcity Logo"></h1>
	</header>

	<nav class="navbar">
		<a href="/">Inicio</a>
		<a href="#qs">Quiénes somos</a>
    <a href="#s">Servicios</a>
		<a href="#l">Localización</a>
		<a href="#t">Empezemos</a>
	</nav>

	<section id="qs"  class="content who">
		<h2 class="title">Quiénes somos</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ligula felis, placerat feugiat arcu iaculis vitae. Proin eget velit a risus cursus sollicitudin.</p>
		<p>Nunc neque tortor, rutrum a ex ac, ornare lacinia ante. Vivamus quis lacus non elit finibus ultricies. <br>Etiam porttitor leo ac turpis porttitor sollicitudin. Phasellus in nulla magna. Etiam et eros hendrerit, malesuada tortor et, tincidunt felis. Fusce sed lacinia felis. Pellentesque lacinia mollis dolor sit amet venenatis. Fusce euismod rhoncus magna, quis tincidunt orci dictum at. Maecenas vitae cursus diam, vitae consectetur elit. <br> Maecenas efficitur auctor faucibus. Nulla id justo libero. Aenean sodales erat in sem posuere eleifend.  </p>
	</section>

	<section id="s" class="content tratamientos">
		<h2 class="title">Servicios</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ligula felis, placerat<br> feugiat arcu iaculis vitae. Proin eget velit a risus cursus sollicitudin.</p>

		<ul id="t" class="list-tratamientos">
			<li>
				<figure>
					<img src="/img/ico-facial.png">
					<figcaption>Faciales</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="/img/ico-corporal.png">
					<figcaption>Corporales</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="/img/ico-spa.png">
					<figcaption>Spa</figcaption>
				</figure>
			</li>
		</ul>
	</section>

	<section class="content tarifas">
		<article class="contain">
			<h2 class="title">Empezemos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Prueba la Plataforma ya.</p>

			<a href="/user/signup" class="btn">Registrate</a>
		</article>
	</section>

	<section id="l" class="content localizacion">
		<h2 class="title">Localización</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ligula felis, placerat<br> feugiat arcu iaculis vitae. Proin eget velit a risus cursus sollicitudin.</p>
		<figure class="map"><img src="/img/dummy-mapa.png" alt="" title=""></figure>
	</section>
