<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <h3>MÁS INFORMACIÓN</h3>
        <ul id="next-workshops">
          <li><a href="/detail">Documentacion en github</a></li>
          <li><a href="/detail">Como nacio el proyecto</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <h3>NewsLetter</h3>
        <form id="subscribe-form" action="">
          <div class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <label class="sr-only" for="email">Tu Correo Electrónico</label>
                <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Tu Correo Electronico">
              </div>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-custom btn-lg">ENVIAR</button>
            </div>
          </div>
        </form>
      </div>

      <div class="clearfix"></div>

      <div class="col-xs-5">
          <h3>SOBRE LOS SPONSORS</h3>
          <p>Las siguientes personas son, las que han creido en el proyecto y contribuyeron a hacerlo posible, lo cual no ha
            sido facil ya que se ha requerido de muchos recursos como tiempo y dinero, ademas de esfuerzo. gracias a
            <a href="#">Peraltatube</a>,
            <a href="#">Universidad Autonoma de ICA</a><br>
            <div class="text-right">
              <a href="#">Fabián Napa</a> <cite style="color:white">- Fempto</cite></p>
            </div>
        <p>Una propuesta diferente al panorama de la tecnologia aplicada en soluciones de transito vial. <p>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <h3>TE GUSTA? CORRE LA VOZ</h3>
        <p>Si te gusta esta filosofía de nuestra propuesta, o quieres formar parte de ella: </p>
        {{!-- <%# INSERTAR Add this%> --}}
      </div>
    </div>
  </div>
</footer>
