<div id="footerwrap">
    <footer class="clearfix"></footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
        <p><img src="/img/traffcity.png" style="width:15%;" alt=""></p>
        <p>TrafcityJs - Crafted With Love - Copyright {{currentYear}}</p>
        </div>

      </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /footerwrap -->
